* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }


#headUP{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* debug */
    background-color: rgb(194, 255, 255);
    /* min-height: 100px; */
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    /* debug */
    width: 70%;
    background-color: rgb(255, 255, 203);
    border: 2px solid black;
}

#headDOWN{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: lightskyblue;
    min-height: 350px;
}

#headIMG{
    /* debug */
    min-height: 250px;
    width: 60%;
    height: 80%;
    background-color: lightsalmon;
    border: 2px solid black;
}

.riga{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* debud */
    min-height: 400px;
    background-color: rgb(255, 255, 255);

}

.rigagrigia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* debud */
    min-height: 400px;
    background-color:lightgray;

}


.azzurro{
    min-height: 300px;
    width: 35%;
    background-color: lightblue;
    border: 2px solid black;
}

.rosa{
    min-height: 300px;
    width: 25%;
    background-color: lightpink;
    border: 2px solid black;
}

#green{
    height: 400px;
    width: 60%;
    margin: 50px;
    background-color:lightgreen;
    border: 2px solid black;
}

#footUP{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* debug */
    min-height: 400px;
    background-color: lightslategray;
}

#red{
    height: 350px;
    width: 20%;
    background-color:lightcoral;
    border: 2px solid black;
}

.greencolumn{
    height: 350px;
    width: 10%;
    background-color:lightcoral;
    border: 2px solid white;
}

#footDOWN{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /* debug */
    min-height:80px;
    background-color: lightslategray;
}

#cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    /* debug */
    width: 60%;
    height: 50px;
    background-color: aquamarine;
    border: 2px solid black;
}

.fo{
    background-color: rgb(254, 182, 182);
    border: 2px solid black;
}


